.container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 100vh;
}

.logo {
  width: 500px;
  height: 500px;
  grid-row: 2;
  grid-column: 2;
}

.containerLogin {
  background-color: #6300d9;
  width: 40%;
  display: flex;
  align-items: center;
}

.videoBgc {
  flex-grow: 1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
