* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.head {
    /* display: inline-block; */
    background-color: #FEA02F;
    height: 25vh;
}

.logo {
    margin: 20px;
    width: 150px;
    height: 150px;
}

.menu,.search, ul, li, a{
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
}

a:hover {
    color: #ffffff;
}

.search {
    margin: 10px 10px 10px 50px
}

.employee {
    text-align: center;
    font-size: 3rem;
    background-color: #6D9B51;
    color: #ffffff;
}

.orderEmployee li, .orderEmployee2 li{
    font-weight: normal;
    font-size: 2rem;
    font-style: oblique;
}
    
.endPage {
    width: 100%;
    height: 5vh;
    background-color: #FEA02F;
    color: #ffffff; 
    font-size: 1.5rem;
}
