* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.head {
    background-color: #FEA02F;
    height: 15vh;
}

.imagem-logo {
    padding: 10px;
    border-radius: 25px;
    width: 100px;
    height: 100px;
    margin: 0px;
}

.menu {
    
    background-color: #526334;
    overflow: hidden;
}
  
.menu a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  
.menu a:hover {
    background-color: #F1C962;
    color: #ffffff;
}
  
.menu a.ativo {
    background-color: #F1C962;
    color: white;
}
  
.menu input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 1.5rem;
}

.end-page {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: #AB3B15;
    color: #ffffff;
    font-size: 1.5rem;
}
