* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Rubik', sans-serif;

}

.head {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    font-size: 4rem;
    height: 80vh;
    text-align: center;
}

.menu {
    grid-row: 3 / 4;
}

#first-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10rem;
}

#last-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 7rem;
    text-transform: uppercase;
}

#stack {
    margin-top: 50px;
    color: rgb(204, 1, 69);
}

.menu a{
    top: 100px;
    padding: 20px;
    font-size: 2rem;
    color: #000000;
}

.link-grow {
    transition: all .3s ease-in-out;
}

.link-grow:hover {
      transform: scale(1.1);
}

.about {
    text-align: center;
    background-color: #0093D3;
    font-size: 2rem;
    height: 70%;
    color: #ffffff;
    padding: 20px;
}

#par {
    margin-top: 2%;
}

.school, .work, .me {
    width: 25%;
    border-radius: 5px;
    list-style: none;
}

.me {
    top: 50px;
    width: 35%;
    text-transform: capitalize;
}

.school {
    right: 20%;
    bottom: 120px;
}

.school > li:first-child, .work > li:first-child {
    color: #000000;
    font-size: 3rem;
}

.work {
    left: 20%;
    bottom: 40px;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 1fr 1fr 30px;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #CC016B;
    font-size: 2rem;
    height: 100%;
    color: #ffffff;
}

.project h2 {
    grid-column: 1 / 4;
    align-self: center;
    padding: 20px;
}

.project img {
    width: 90%;
    height: 300px;
    border: 2px solid #ffffff;
    margin-bottom: 20px;
}

.project p {
    margin: 20px;
    font-size: 3rem;
}

.skill {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: #FFF10D;
    font-size: 2rem;
    height: 50vh;
    padding: 50px;
    color: #000000;
}

.skill > h2 {
    grid-column: 1 / -1;
}

.skill > h3 {
    list-style: disc;
    color: #000000;
}

.skill ul {
    list-style: none;
    padding: 30px;
}

.talk {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #000000;
    color: #ffffff;
    font-size: 2rem;
    height: 80vh;
}

.talk >  h2 {
    grid-column: 1 / -1;
    text-align: center;
    padding: 20px;
}

.contact-form {
    grid-column: 2;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    
}
  
button {
    background-color: #000000;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
}
  
button:hover {
    background-color: #FFF10D;
}

.medias {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 80px 100px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.fa {
    padding: 20px 10px 10px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-linkedin {
    background: #007bb5;
    color: white;
}
  
.fa-github {
    grid-row: 2;
    background: #2e2b2b;
    color: white;
}

.fa-google {
    grid-row: 3;
    background: #dd4b39;
    color: white;
}
