.small-card {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 400px;
    height: 70px;
}

.small-card img {
    width: 30px;
}

.name-bold {
    font-weight: bold;
    padding: 5px;
}