section, #post-aqui {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-family: Helvetica, sans-serif;

}

ul {
    border: 1px solid black;
}

li {
    list-style: none;
    padding: 10px;
}

li:first-child {
    font-size: 2rem;
    font-weight: bold;
    color: red;
}

li:nth-child(2){
    font-size: 1.5rem;
}

li:nth-child(3){
    font-style: italic;
}