html, body, main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

.content {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    justify-content: center;
}

.menu-top {
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    height: 15vh;
    background-color: #411271;
    width: 100%;
    position: fixed;
}

.menu-top h1 {
    font-size: 4rem;
    color: #ffffff;
}

.menu-top input {
    align-self: center;
    width: 40%;
    height: 40%;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #000000;
}

.thumb-grid {
    grid-row: 2 / 3;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 2fr;
    grid-gap: 10px;
}

.thumb {
    border: 5px solid #F5C603;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 25vh;
    cursor: pointer;
    border-radius: 5px;
}

figcaption {
    margin-top: 12px;
    font-weight: bold;
    font-size: 1.5rem;
}

.thumb{
    transition: all .3s ease-in-out;
}

.thumb:hover {
      transform: scale(1.1);
}

.video-interno {
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-content: center;
    align-items: center;
}

.videos {
    grid-row: 2 / 4;
    width: 80vw;
    height: 50vh;
}

.im-footer {
    grid-row: 4;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    color: #ffffff;
    background-color: #4542B9;
    text-align: center;
}

@media (max-width: 500px) {
    main, .thumb-grid, .video-interno {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .content {
        background-color: #000000;
    }
    .menu-top {
        height: 10vh;;
    }
    
    .menu-top h1 {
        font-size: 2rem;
    }

    .menu-top input {
        font-size: 1rem;
    }

    .thumb {
        width: 100%;
        height: 30vh;
        margin: 0;
        padding: 0;
    }

    .thumb{
        transition: all .3s ease-in-out;
    }
    
    .im-footer {
        font-size: .8rem;
    }

    .title-video {
        font-size: 2rem;
        color: white
    }

    .videos {
        width: 100%;
    }
}   