.container {
	border-bottom: 1px solid rgb(179, 177, 177);
  height: 20%;
  display: flex;
	flex-direction: column;
	align-items: center;
}

.userPhoto {
	margin-top: 10px;
 	width: 100px;
  height: 100px;
  border-radius: 50%;
}

.userName {
	font-size: 20px;
	margin: 0;
  font-family: "Roboto", sans-serif;
}

.nameWrapper {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}